// font-sizes.scss
$font-small: 12px;
$font-medium: 16px;
$font-large: 24px;
$font-xlarge: 32px;
$font-xxlarge: 40px;
$font-small-mobile: 10px;
$font-medium-mobile: 14px;
$font-large-mobile: 20px;
$font-xlarge-mobile: 28px;
$font-xxlarge-mobile: 36px;
