// heights.scss
$height-small: 30px;
$height-medium: 50px;
$height-large: 70px;
$height-xlarge: 90px;
$height-xxlarge: 110px;
$height-small-mobile: 20px;
$height-medium-mobile: 40px;
$height-large-mobile: 60px;
$height-xlarge-mobile: 80px;
$height-xxlarge-mobile: 100px;
