// margins.scss
$margin-small: 5px;
$margin-medium: 10px;
$margin-large: 20px;
$margin-xlarge: 30px;
$margin-xxlarge: 40px;
$margin-small-mobile: 3px;
$margin-medium-mobile: 6px;
$margin-large-mobile: 12px;
$margin-xlarge-mobile: 18px;
$margin-xxlarge-mobile: 24px;
