// paddings.scss
$padding-small: 5px;
$padding-medium: 10px;
$padding-large: 20px;
$padding-xlarge: 30px;
$padding-xxlarge: 40px;
$padding-small-mobile: 3px;
$padding-medium-mobile: 6px;
$padding-large-mobile: 12px;
$padding-xlarge-mobile: 18px;
$padding-xxlarge-mobile: 24px;
