// widths.scss
$width-small: 100px;
$width-medium: 200px;
$width-large: 300px;
$width-xlarge: 400px;
$width-xxlarge: 500px;
$width-small-percent: 25%;
$width-medium-percent: 50%;
$width-large-percent: 75%;
$width-xlarge-percent: 90%;
$width-xxlarge-percent: 100%;
